.coins {
	&__coinsgrid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		grid-gap: 3rem;
		margin: 2.5rem 0;
		&.price-grid {
			@media(min-width: 1200px){
				grid-template-columns: repeat(5, 1fr);
			}
		}
		&--coin {
			display: flex;
			flex-direction: column;
			background: $tileGridItemColor;
			box-shadow: 0px 0px 4px 1px $boxShadowBlueColor;
			padding: 2rem;
			cursor: pointer;
			font-size: 2rem;
			&:hover {
				box-shadow: 0px 0px 4px 1px $lightGreenColor;
			}

			&.compact-coinTile {
				@media(min-width: 1200px){
					flex-direction: row;
					align-items: center;
					padding: 1rem;
    				padding-right: 2.5rem;
					.coins__coinsgrid--coin__header {
						display: flex;
						flex: 1 0 auto;
						margin-right: 10px;
						margin-bottom: 0;

						& > *:first-child {
							margin-right: 10px;
						}
					}
				}
			}

			&__header {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				align-items: center;
				margin-bottom: 1.5rem;
				& > *:last-child {
					justify-self: right;
				}
			}

			img {
				align-self: flex-start;
				justify-content: center;
			}

			// Complete coinsListing coin styling 
			&__favouriteType {
				&:hover {
					box-shadow: 0px 0px 4px 1px $boxShadowRedColor;
					p:last-of-type {
						display: block !important;
						color: $boxShadowRedColor;
					}
				}
			}
		}
	}
}