.dashboard {
	&__grid {
		display: flex;
		& > *:first-child {
			flex: 0;
			margin-right: 2rem;
		}
		& > *:last-child {
			flex: 1;
		}

		& > * {
			background: $tileGridItemColor;
			box-shadow: 0px 0px 4px 1px $boxShadowBlueColor;
			padding: 2rem;
			cursor: pointer;
			font-size: 2rem;
		}

		@media(max-width: 1011px){
			flex-direction: column;
			& > *:not(:last-child){
				margin-bottom: 2rem;
			}
			& > *:first-child {
				margin-right: 0			}
		}
	}
	&__spotlight-coin {
		display: flex;
		flex-direction: column;
		align-items: center;

		& > *:not(:last-child){
			margin-bottom: 2rem;
		}
	}	
}